<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landmark OA</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="glyphicon glyphicon-home"></i> 事务管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> 产品管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-usd"></i> 订单管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> 客户管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-wrench"></i> 网站管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-stats"></i> 运营统计</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="bg-info">hello</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="bg-danger">good morning</div>
            </div>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="/requirejs_config.js"></script>
  <script data-main="app/staff/indexMain" src="/bower_components/requirejs/require.js"></script>
</html>
