body {
    overflow-x: hidden;
}

.bg-landmark {
    background-color: #8BC21E;
}

.login-container {
    /*position: absolute;
    top: 20%;
    left: 30%;*/
    margin-top: 10%;
    width: 600px;
}
.nav-logo {
    padding: 2px 20px;
}
.navbar .logo {
    height: 100%;
}

.main-container {
    margin: 0 10px 20px 10px;
}

.left-nav-bar {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    padding: 5px 0;
}

.left-nav-bar li {
    padding-left: 5px;
    padding-right: 5px;
}

.left-nav-bar li+li {
    margin-top: 5px;
}

.left-nav-bar>.nav>li.active>a,
.left-nav-bar>.nav>li.active>a:hover,
.left-nav-bar>.nav>li.active>a:focus {
    background-color: #8BC21E;
}

.main-part .divider {
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    background-color: #8BC21E;
}

.btn.btn-landmark {
    background-color: #8BC21E;
    border-color: #8ac21d;
}

.user-icon {
    border : 1px solid #333;
}
.btn-upload {
    width: 80px;
    display: block;
    padding: 2px 4px;
}
.profile-title .btn-upload-wrap {
    width: 100%;
}
.profile-title .btn-upload {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.profile-title h1 {
    font-size: 66px;
}

.remember {
    margin-top: 3px;
}

.lmp-color {
    color: #8BC21E;
}

.green {
    color: #458746;
}

.red {
    color: #B94846;
}

.blue {
    color: #3986AC;
}

.yellow {
    color: #F99406;
}

div.center, p.center, img.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}

.login-box .input-prepend {
    margin-bottom: 10px;
}

.login-box .btn {
    margin-top: 15px;
    width: 100%
}

.alert-lmp-info {
    background-color: rgb(139,194,139);
}

.footer {
    border-top: 1px solid #8BC21E;
    padding: 10px 30px 0 30px;
}

.staff-list ul {
    list-style: none;
}

.staff-list ul li {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

.staff-list .staff-title {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

.form-display {
    padding: 7px;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);

}

.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.box-header h3 {
    font-size: 13px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
}

.box-header h2 > i {
    margin-top: 1px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.box-content {
    padding: 10px;
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}