<div class="col-md-2 col-lg-2">
    <div class="left-nav-bar">
        <ul class="nav nav-pills nav-stacked">
            <li <%if(doc.nav=='customers'){%>class="active"<%}%>><a href="/cm/users">Customer List</a></li>
        </ul>
    </div>
</div>