<div class="col-md-2 col-lg-2">
    <div class="left-nav-bar">
        <ul class="nav nav-pills nav-stacked">
            <li <%if(doc.nav=='products'){%>class="active"<%}%>><a href="/pm/products">Products</a></li>
            <li <%if(doc.nav=='product_add'){%>class="active"<%}%>><a href="/pm/product">Add New Product</a></li>
            <li <%if(doc.nav=='categories'){%>class="active"<%}%>><a href="/pm/categories">Product Categories</a></li>
        </ul>
    </div>
</div>