<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../common_head.ejs%>
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker3.css" />
</head>
<body>
<%- include ../common_header.ejs%>
<div class="main-container" ng-controller="mainCtrl">
    <div class="row">
        <%- include left_nav.ejs%>
        <div class="col-md-10 col-lg-10">
            <div class="main-part">
                <div class="h2">Add New Member</div>
                <div class="divider"></div>
                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-class="{'has-error':showNickError&&nickError}">
                        <label for="nick" class="col-sm-3 control-label">Nick:</label>
                        <div class="col-sm-6">
                            <input type="text" id="nick" ng-model="staff.nick" class="form-control" placeholder="please input your nick" ng-blur="showNickError=true;validNick();" required>
                            <span class="text-danger" ng-bind="nickError" ng-show="showNickError"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':showEmailError&&!validInfo.isEmailValid}">
                        <label for="email" class="col-sm-3 control-label">Email:</label>
                        <div class="col-sm-6">
                            <input type="email" id="email" ng-model="staff.email" class="form-control" ng-blur="showEmailError=true;" placeholder="please input your email">
                            <span class="text-danger" ng-show="showEmailError&&!validInfo.isEmailValid">the email is not valid</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nick_cn" class="col-sm-3 control-label">Chinese Name:</label>
                        <div class="col-sm-6">
                            <input type="text" id="nick_cn" ng-model="staff.nick_cn" class="form-control" placeholder="please input your chinese name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sex:</label>
                        <div class="col-sm-6">
                            <div class="radio-inline">
                                <label><input type="radio" name="sex" value="0" ng-model="staff.sex" checked>Male</label>
                            </div>
                            <div class="radio-inline">
                                <label><input type="radio" name="sex" value="1" ng-model="staff.sex">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birth" class="col-sm-3 control-label">Birthday:</label>
                        <div class="col-sm-6">
                            <div class="input-group date">
                                <input type="text" id="birth" class="form-control" lm-date-picker ng-model="staff.birth"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                            <!--<input type="date" id="birth" class="form-control">-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Phone:</label>
                        <div class="col-sm-6">
                            <input type="tel" id="phone" ng-model="staff.phone" class="form-control" placeholder="cellphone number">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':showQqError&&!validInfo.isQqValid}">
                        <label for="qq" class="col-sm-3 control-label">QQ:</label>
                        <div class="col-sm-6">
                            <input type="text" id="qq" ng-model="staff.qq" class="form-control" ng-blur="showQqError=true;" placeholder="qq number">
                            <span class="text-danger" ng-show="showQqError&&!validInfo.isQqValid">the qq is not valid</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address:</label>
                        <div class="col-sm-6">
                            <input type="text" id="address" ng-model="staff.address" class="form-control" placeholder="your address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="desc" class="col-sm-3 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea id="desc" ng-model="staff.descp" rows="4" class="form-control" placeholder="write something to describe you ^_^"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-7">
                            <button class="btn btn-landmark btn-block" ng-click="update($event);">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <p>content...&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>-->
<%- include ../common_footer.ejs%>
</body>
<script type="text/javascript" src="/requirejs_config.js"></script>
<script data-main="app/staff/profileMain" src="/bower_components/requirejs/require.js"></script>
</html>
