<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../common_head.ejs%>
</head>
<body>
<%- include ../common_header.ejs%>
<div class="main-container" ng-controller="mainCtrl">
    <div class="row">
        <%- include left_nav.ejs%>
        <div class="col-md-10 col-lg-10">
            <div class="main-part">
                <div class="h2">Change Password</div>
                <div class="divider"></div>
                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-class="{'has-error':showOldPwdError&&!isOldPwdValid}">
                        <label for="oldPwd" class="col-sm-3 control-label">Old Password:</label>
                        <div class="col-sm-6">
                            <input type="password" id="oldPwd" ng-model="data.oldPwd" class="form-control" ng-blur="showOldPwdError=true;">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':showNewPwdError&&!isNewPwdValid}">
                        <label for="newPwd" class="col-sm-3 control-label">New Password:</label>
                        <div class="col-sm-6">
                            <input type="password" id="newPwd" ng-model="data.newPwd" class="form-control" ng-blur="showNewPwdError=true;">
                            <span class="text-danger" ng-bind="newPwdTip" ng-show="showNewPwdError"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':showPwdAgainError&&!isPwdAgainValid}">
                        <label for="pwdAgain" class="col-sm-3 control-label">New Password Again:</label>
                        <div class="col-sm-6">
                            <input type="password" id="pwdAgain" ng-model="data.pwdAgain" class="form-control" ng-blur="showPwdAgainError=true;">
                            <span class="text-danger" ng-bind="pwdAgainTip" ng-show="showPwdAgainError"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 15px;">
                        <span class="text-danger" ng-bind="errMsg"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-7">
                            <button class="btn btn-success btn-landmark btn-block" ng-click="submit($event);">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ../common_footer.ejs%>
</body>
<script type="text/javascript" src="/requirejs_config.js"></script>
<script data-main="app/staff/passwordMain" src="/bower_components/requirejs/require.js"></script>
</html>
